@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #444;
}

/* STRUCTURE */

/* Conteneur général */
.wrapper {
    /* width à 1140px */
}

/* Haut de page, pied de page */
header {}

.column {}

/***** Section #1 *****/

/* Div parente #1 */

.section_1 {
    display: flex;
}

/* Colonnes - Div enfants #1 */

.section_1 .column {}

/***** Section #2 *****/

/* Div parente #2 */

.section_2 {
    display: flex;
}

/* Colonnes - Div enfants #2 */

.section_2 .column {}

/***** Section #3 *****/

/* Div parente #3 */

.section_3 {
    display: flex;
}

/* Colonnes - Div enfants #3 */

.section_3 .column {}

.section_3 .column_2 {
    flex: 2;
}

/***** Section #4 *****/

/* Div parente #4 */

.section_4 {
    display: flex;
}

/* Colonnes - Div enfants #4 */

.section_4 .column {}

/* Div parente #5 */

.section_5 {
    display: flex;
}

/* Colonnes - Div enfants #5 */

.section_5 .column {}

.section_5 .column_1 {}

.section_5 .column_3 {}








/* Responsive */

@media screen and (max-width: 768px) {

    .section_1 .column,
    .section_2 .column,
    .section_3 .column,
    .section_4 .column,
    .section_5 .column {
        flex-basis: 100%;
        margin: 0;
    }
}


img {
    display: block;
    margin: 40px auto;
    ;
}
