/*
Afin de reproduire les schéma données, Pensez à :

-> Utiliser align-items, flex-direction, justify-content flex-wrap, etc sur les section 'parentes'

-> Utiliser align-self, order, flex sur les div 'enfants' 
*/


/*
Section #1 
*/
#section_1 {

}

#section_1 .div_1 { 

}

#section_1 .div_3 {
  
}


/*
Section #2
*/
#section_2 {
  
}

#section_2 .div_1 {

}


/*
Section #3
*/
#section_3 {

}


/*
Section #4
*/
#section_4 {

}

#section_4 div {

}

#section_4 .div_3 {

}


/*
Section #5
*/

#section_5 {
}

#section_5 div {
  width: 40%;
}

/*
Section #6
*/
#section_6 {
 
}

/*
Section #7
*/
#section_7 {

}

#section_7 .div_4 {

}


/*
Section #8
*/
#section_8 {

} 

#section_8 .div_1, #section_8 .div_2 {

}


/*
Section #9
*/
#section_9 {
  
}

#section_9 .div_1 {
  
}







/*
Basis syles
*/

.masterflex {
  display: flex;
  flex-direction: column;
}

section {
  background: #f7f7f7;
  display: flex;
  margin: 10px 0;
  height: 250px;
}

.div_1,
.div_2,
.div_3, 
.div_4 {
  margin: 0 5px;
  padding: 40px;
}

.div_1 {
  background: darkblue;
}
.div_2 {
  background: gold;
}
.div_3 {
  background: orange;
}

.div_4 {
  background: teal;
}

img {
    display: block;
    margin: 40px auto;;
}